<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Admin Session</title>
    <meta charset="utf-8"/>
    <link href = "views/adminstyle.css" rel = "stylesheet" type = "text/css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body>


    <div class="welcome"></div>
    <div class="welcometext">
      <h1 id="session">Welcome, admin</h1>
    </div>


    <div class = "flex-container center">
      <div class="flex-item">
        <p class = "uploadURL">Upload a URL</p>
<!--
          <label> Location <b></label>
          <label id = "location"></b></label>
          <br><br>
-->
          <div class = "center-upload">
            <p class= "uploadCntxt">Uploading to Room for: </p>
            <select id = "location"></select>
          </div>
          <p class="uploadHint">(Make sure it says https://... or http://...)</p>
          <input type = "text" id = "URL" class = "URL-text">
          <input type = "button" class = "upload-url" id = "uploadURL" value = "Upload"><br>
      </div>
      <img src="views/mvlogo.png" id="mv-logo" width = "300px" height = "300px">
        <div class = "flex-item">
          <p class = "create-teacher">Create a Teacher User</p>
          <p class = "type-number">Type the name of the teacher's room number</p>
          <p class = "create-hint">By default, username is teacher(room number), and password is (room number)<p>
          <input type = "text" class = "teacher-number" id = "teacherNum" placeholder = "Enter Room Number Here" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : (!isNaN(Number(event.key))||event.keyCode === 65||event.keyCode === 83||event.keyCode === 84||event.keyCode === 71||event.keyCode === 66||event.keyCode === 67||event.keyCode === 68||event.keyCode === 82||event.keyCode === 89||event.keyCode === 77)" />
          <input type = "button" class = "create-button" id = "createTeachers" value = "Make Teacher">
           <!-- above code gets rid of - and e/E exponents-->
        </div>
    </div>

    <div class = "table-display">
      <p class = "collapse-hint">*Click "Media" on the table to collapse</p>
      <p class = "media-in-classroom">Media in Game</p>
      <table id = "approvedMedia" class = "content-table">
        <thead>
          <tr>
            <th><label for="media" class = "label-media">Media</label><input type="checkbox" id="media" data-toggle="toggle"></th>
            <th>Caption</th>
            <th>Text File Name</th>
            <th>Media File Name</th>
            <th>Location</th>
            <th>Date Uploaded</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class = "hide">
        </tbody>
      </table>
      <br>
      <input id = "rejectSubmission" class = "submit-changes" type="submit" value = "Submit Changes">
    </div><br><hr>

    <div class = "long-flex-container center">
      <div class = "long-flex-item">
        <p class = "current-urls">Current URLs</p>
        <div id = "allURL">
        </div>
      </div>
      <div class = "long-flex-item">
        <p class = "delete-users">Delete Users</p>
        <div id="names" name="names">
        </div>
        <button type="button" class = "submit-button" id = "deleteButton">Delete</button>
      </div>
    </div>
    <div class = "passwordreset-flex">
      <div class = "reset-flex-item">
        <p class = "resetTitle">Reset Password</p>
        <p class="password">New Password: </p>
        <input id="psw" class = "psw" type="password" placeholder="Enter Password">
        <p class="cnfrm-password">Confirm Password: </p>
        <input id="confirmpsw" class = "confirmpsw" type="password" placeholder="Confirm Password">
        <button type="button" class = "reset-button" id = "resetPassword">Reset</button>
      </div>
    </div>
    <br><hr>
    <div class = "logout-flex">
      <input type = "button" id = "logout" class = "logout-button" value = "Logout">
    </div>
  </body>
  <script src="js/adminsession.js"></script>
  <script>
    $(document).ready(function() {
	     $('[data-toggle="toggle"]').change(function(){
		       $(this).parents().next('.hide').toggle();
	     });
     });
  </script>
</html>
