<!DOCTYPE html>
<html lang="en-us">
  <head>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <form action="fileupload" method="post" enctype="multipart/form-data">
      <input type="file" name="filetoupload">
      <br>

      <label for = "location"> Location </label>
      <select id = "location">
        <option value = "901"> Room 901 </option>
        <option value = "902"> Room 902 </option>
        <option value = "903"> Room 903 </option>
        <option value = "904"> Room 904 </option>
        <option value = "Gym"> Gym </option>
      </select>
      <br><br>

      <label for = "caption"> Caption </label>
      <br>
      <textarea id = "caption" rows="5" cols="50"></textarea>
      <br><br>

      <input type = "submit" id = "submit"> 

    </form>
    <br>
    <input type = "button" id = "logout" value = "Logout">
    <br>
    <script src="js/usersession.js"></script>

  </body>
</html>
